
html {
	overflow-y: scroll;
}

body {
	font-family: Arial, sans-serif;
	color: #333;
	font-size: 14px;
}

/*Navigation container*/

#navigation {
	position: relative;
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#navigation:after {
	content: ".";  display: block;  
	height: 0;  clear: both;  visibility: hidden;
}  
#navigation {display: inline-block;}
* html #navigation { height: 1%;}  
#navigation {display: block;}

/*Basic styling for ul and li*/

#navigation ul.menu {
	margin: 0;
	padding: 0;
	text-align: center;
}

#navigation ul.menu li {
	margin: 0;
	padding: 0;
	display: inline-block;
}

/*Anchor links*/

#navigation ul.menu a {
	display: inline-block;
	padding: 10px;
}

#navigation ul.menu a:hover {
	color: red;
}

/*
	Hamburger icon
	Hidden under 720px
*/

a#ham {
	text-decoration: none;
	display: none;
	font-weight: bold;
	float: right;
	font-size: 30px;
	padding: 5px;
}

@media screen and (max-width: 720px) {
	
	a#ham {
		display: block;
	}

	#navigation {
		clear: left;
		float: none;
	}

	#navigation ul.menu {
		display: block;
		width: 100%;
		height: 0;
		overflow: hidden;
	}

	#navigation ul.menu li {
		display: block;
		width: 100%;
	}

	#navigation ul.menu a {
		display: block;
	}

	#navigation ul.nav-open {
		height: auto;
	}

} /* media 720 end */





/*GARBAGE: Just for Demo*/

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

/*Some styling*/

body {
	margin: 0;
	padding: 0;
}

#nav-wrap {
	width: 100%;
	background: #EFEFEF;
}

